.earnings {
  height: 84vh;
  display: flex;
  flex-direction: column;
  margin: 0 5vw;
}
.nav-back {
  display: none;
}
.banner {
  margin-left: 8vw;
  width: 80%;
  height: 30%;
  padding: 2vh 0;
  display: flex;
  justify-content: space-between;
}
.earnings-card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 40%;
  box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.earning-info {
  margin-top: 0.5em;
  width: 100%;
  display: flex;
}
.earning-info > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.earning-info:nth-child(2) > h3 {
  margin-left: -3em;
}
.earning-info h6 {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--primary);
}
.earning-info h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.earning-info.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.withdraw-button {
  background-color: var(--primary);
  color: #fff;
  padding: 8px 16px;
  height: 2em;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.withdraw-button:hover {
  background-color: var(--primary);
  cursor: pointer;
}
.referral-code {
  width: 40%;
}
.referral-code h3 {
  color: var(--primary);
}
.code {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, var(--secondary), var(--primary)) border-box;
  border-radius: 1em;
  border: 2px solid transparent;
  padding: 1em 5em;
  letter-spacing: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.referrals-info {
  margin-left: 8vw;
  width: 80%;
  margin-top: 1em;
}
.referralsInfo-title {
  color: var(--primary);
}
.referral-info-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em 1em;
  margin-top: 1em;
}
.info-item {
  display: flex;
  align-items: center;
  height: 60px;
}
.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.25);
  margin-right: 1em;
}
.info-detail {
  width: 70%;
  font-size: 15px;
}
.info-detail h6 {
  font-size: 1em;
  font-weight: 600;
}
.bottom-navigation {
  margin: auto;
  margin-left: 8vw;
  width: 80%;
}

.bottom-navigation h6 {
  margin-bottom: 0.5em;
  font-size: 1em;
  color: var(--primary);
}

/* Responsive Start */
@media screen and (max-width: 700px) {
  .earnings {
    height: max-content;
    margin-bottom: 50px;
  }
  .nav-back {
    display: flex;
    color: var(--primary);
    margin-left: 8vw;
    width: 80%;
  }
  .nav-back span {
    font-weight: 600;
    font-size: 1em;
  }
  .earning-info:nth-child(2) > h3 {
    margin-left: 0;
  }
  .earning-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .earning-info > * {
    display: flex;
    align-items: flex-start;
  }
  .banner {
    flex-direction: column;
  }
  .earnings-card {
    position: relative;
  }
  .withdraw {
    position: absolute;
    bottom: 2em;
    right: 1em;
  }
  .withdraw-button {
    font-size: 0.8em;
    align-self: baseline;
  }
  .earnings-card {
    width: 100%;
    height: 25vh;
    padding: 1em;
  }
  .earning-info .item h6 {
    font-size: 0.5em;
  }
  .referral-code {
    width: 100%;
    margin: 1em 0;
  }
  .referral-code h3 {
    font-size: 1em;
  }
  .code {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1em;
  }
  .referrals-info {
    margin: 2em;
  }
  .referral-info-items {
    grid-template-columns: 1fr;
    margin-top: 2em;
  }
  .info-detail h6,
  p {
    font-size: 0.8em;
  }
  .bottom-navigation h6 {
    font-size: 0.7em;
  }
}
/* Responsive */
